{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>

    <title>Chama Manager</title>
</head>
<body id='body'>
    
        <div class="row">
            <div class="d-flex justify-content-center mt-5" id='signin'>
                <div class="card  my-card card-width-25">
                    <div class="card-body">
                        <form method='POST'>
                             {% csrf_token %}
                            
                            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                        
                            
                                <div class="modal-body">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
                                    {{ field.label }}
                                    {% for error in field.errors %}
                                        <small id="{{ field.auto_id }}" class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                    </label>
                                    <div class="col-sm-9">
                                    {{ field }}
                                    {% if field.help_text %}
                                    <small>{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                                
                                </div>
                        
                            
                            <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Sign in</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
</body>
</html>