{% extends 'base.html' %}
{% block content %}
{% include 'add_member_modal.html' %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Make Contribution</h1>  
</div>
{% if members %}
    <form action="" method="POST">
    {% csrf_token %}
    <div class="modal-body">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
          {{ field.label }}
          {% for error in field.errors %}
            <small id="{{ field.auto_id }}" class="text-danger">{{ error }}</small>
          {% endfor %}
        </label>
        <div class="col-sm-9">
          {{ field }}
          {% if field.help_text %}
          <small>{{ field.help_text|safe }}</small>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      
     </div>
     <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
</form>

{% else %}

  <div class='card'>
            <div class="card-body">
              <p>Currently there are no members.</p>
            </div>
        </div>
  </div>

{% endif %}


{% endblock  %}